.App {
  text-align: center;
  margin-top: 55px;
  background-color: white;
  color: black;
}

.App.dark {
  text-align: center;
  margin-top: 55px;
  background-color: black;
  color: white;
}

body.light {
  text-align: center;
  background-color: white;
  color: black;
}

body.dark {
  text-align: center;
  background-color: black;
  color: white;
}


