/* App container styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Shopping list container styles */
.shopping-list-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
  margin-bottom: 20px;
  color: #333333;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Input styles */
input[type="text"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Button styles */
button {
  background-color: transparent;
  color: #150e0e;
  border: 2px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 10px;
  /* Apply margin to all buttons */
}

button.centered {
  margin: 10px auto;
  /* Center the create button horizontally */
  display: block;
  /* Ensure the create button is on a new line */
}

button:hover {
  background-color: #007bff;
  border-color: #0056b3;
}




/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Modal form styles */
.modal form {
  display: flex;
  flex-direction: column;
}

/* Modal input styles */
.modal input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}