/* Container Styles */
.app-container {
  height: 100vh; /* Use viewport height */
}

.mode-toggle {
  /* Styles for the mode toggle button */
  padding: 8px 16px; /* Reduced padding */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px; /* Reduced margin */
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  gap: 8px; /* Reduced gap */
}

.mode-toggle:hover {
  background-color: #0056b3;
}

/* Heading styles */
h2 {
  text-align: center;
  margin-bottom: 16px; /* Reduced margin */
}

/* Shopping List Styles */
.shopping-list-container {
  max-width: 1000px;
  margin: 16px auto; /* Adjusted margin */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* Dark mode text color */
}

/* List styles */
ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove default list styles */
}

li {
  margin-bottom: 8px; /* Reduced margin */
}

li button {
  margin-left: auto; /* Push buttons to the right */
}

/* Adjust spacing between elements */
.list-item {
  margin-top: 10px; /* Reduce margin between list items */
}

.action-buttons button {
  margin-left: 10px; /* Adjust margin between action buttons */
}

.checkbox-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.button-container button {
  margin-right: 10px; /* Adjust margin between buttons in the button container */
}


/* Input Styles */
input[type="text"],
input[type="password"] {
  padding: 10px; /* Adjusted padding */
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 500px; /* Adjusted width */
  box-sizing: border-box;
  text-align: center; /* Center the text horizontally */
}

/* Button Styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Adjusted padding */
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button.centered {
  margin: 16px auto; /* Center buttons */
  display: block;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 12px; /* Reduced gap */
}

.back-link {
  background-color: #0056b3;
  color: #ffffff;
  padding: 8px 16px; /* Reduced padding */
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-link:hover {
  background-color: #004080; /* Darken the background color on hover */
}

.dark-mode .back-link {
  background-color: #0056b3; /* Adjust the background color for dark mode */
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

/* Dialog Modal */
.dialog-modal {
  z-index: 1000;
}

/* Modal Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  cursor: pointer;
}

.modal-dialog {
  position: relative;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fefefe; /* Light mode background color */
  color: #333; /* Light mode text color */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
}

.dark-mode .modal-content {
  background-color: #1a1a1a; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
